* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --clr-dark-main: #00796B;
  --clr-light-main: #B2DFDB;
  --clr-main: #009688;
  --clr-text-icon: #FFFFFF;
  --clr-black: #212121;
  --clr-gray: #757575;
  --clr-light-gray: #BDBDBD;
}

.container {
  padding-inline: 1.5rem;
  margin: 0 auto;
}

.main-title {
  margin-top: 2rem;
}

.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-main);
  border-bottom: 3px solid black;
}

.logo {
  text-decoration: none;
  color: var(--clr-text-icon);
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-link {
  text-decoration: none;
  color: var(--clr-text-iconn);
  font-size: 1.3rem;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--clr-light-main);
  z-index: 1;
  margin-left: 0.3rem;
}
.drop-item{
  display: flex;
  text-decoration: none;
  color: var(--clr-text-iconn);
  font-size: 1rem;
  margin: 0.3rem;
  padding-bottom: 0.3rem;
}
.drop-item:hover{
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.dropdown-content:hover{ 
  .dropdown{
    background-color: var(--clr-light-gray);
  }
}

.menu-link:hover {
  text-decoration: underline;
}

.productos {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;
  padding-block: 2rem;
}

.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  
}
.producto > div {
  padding: 1rem;
  background-color: var(--clr-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: .5rem;
  word-wrap: none;
  height: 150px;
}

.producto > img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2/1;
  height: 200px;
}

.producto .ver-mas {
  text-decoration: none;
  background-color: var(--clr-main);
  color: white;
  padding: .5rem;
  width: max-content;
  border-radius: .5rem;
  transition: .2s;
}

.producto .ver-mas:hover {
  background-color: var(--clr-dark-main);
  color: white;
}

.producto-detalle {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.detalle-text{
  align-content: center;
  background-color: var(--clr-light-main);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 10px 10px 3px  var(--clr-dark-main);
}

.producto-detalle img {
  width: 100%;
}

.producto-detalle h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.categoria {
  font-size: .8rem;
  color: #424242;
  margin-top: 1rem;
}

.precio {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}
.cartDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cartItem{
  padding: 0.5rem;
}